{% extends "base.html" %}
{% load static %}
{% block title %}
	عنا
{% endblock title %}
{% block content %}
<div class="container" style="margin-top: 120px;
                              background-color: white;">
    <br>
    <div class='about'>
        <div class="text-center">
            <img class="text-center" src="https://scontent.ffjr1-4.fna.fbcdn.net/v/t1.15752-9/67553729_672437189836140_4683016302703411200_n.png?_nc_cat=106&_nc_oc=AQnNp2VAIm7N7TOu0hSia07vnAvulgyyZFUIFDkLnb1jwgIKl-kEv6uA329i1wYSfes&_nc_ht=scontent.ffjr1-4.fna&oh=d2f478ddeef0d4f23ca25de7b0d95283&oe=5DB4AD50" alt=""
            style="width:50%; height:auto;">  
        </div>
        <div>
            <h1 class="text-center">{{title}}</h1>
        </div>
        <br>
        <P>
            نحن رواد الاحتراف للمجوهرات وبخبراتنا في 
            المجوهرات منذ عام 1963م نسعى دوماً لإرضاء 
            عملائنا. نحن في نفائس الألماس حيث الأناقة والابداع والروعة في المجوهرات. بين أحدث الموديلات الحديثة وعراقة الماضي تلتقي هنا في نفائس الألماس أجمل المجوهرات من جميع أنحاء العالم. كل ما
            يرغب فيه العميل من ألماس وذهب وفضة وأحجار كريمة وغيرها من مجوهرات نفيسة ومعادن ثمينة.
        </P>
        <p>
            كما عودناكم في نفائس الألماس على كل جديد
            سعي للتطوير وتكملة لخدماتنا في مواقع التواصل الاجتماعي قمنا بإنشاء موقع نفائس الألماس الإلكتروني لتوفير أكبر خدمات إلكترونية من متعة وسهولة في التصفح 
            والبحث عن القطع وسهولة الدفع بعدة طرق وضمان التوصيل لأي عنوان داخل المملكة. كما يمكنكم ضمان وجود القطعة التي تريدونا
            وشرائها في
            أي وقت على مدار 24 ساعة من خلال الموقع. ولسهولة اضافية وخدمات أكثر يمكنكم التسوق عن طريق هواتفكم وأجهزتكم الذكية عن طريق تحميل تطبيق نفائس الألماس على IOS & Android. كما يمكنكم الحصول على نقاط بحيث تستفيدون منها
            عن طريق كل عملية شراء وأيضًا من خلال عدة طرق أخرى. لا تفوتوا متعة وسهولة التسوق الالكتروني وكسب العديد من النقاط والجوائز مع نفائس الألماس من خلال الموقع والتطبيقات. نفائس الألماس .. ملاذ عشاق المجوهرات.
        </p>
        <div class="row boxes">
            <div class="col-md-4 box">
                <h3 class="text-center">رسالتنا</h3>
                <hr>
                <p>
                نؤمن بأن علاقتنا مع عملائنا ليست مجرد بيع وشراء وإنما نرغب بالتمسك بهم وبناء علاقة أسرية معهم والسعي لإرضائهم من حيث التنوع في البضائع والأسعار المغرية والمناسبة للجميع.
                </p>
            </div>
            <div class="col-md-4 box">
                <h3 class="text-center">هدفنا</h3>
                <hr>
                <p>
                نسعى دوماً أن نكون الخيار الأول لعشاق المجوهرات وجعل نفائس الألماس ملاذ جميع عملاء المجوهرات في جميع أنحاء العالم.
                </p>
            </div>
            <div class="col-md-4 box">
                <h3 class="text-center">قيمنا</h3>
                <hr>
                <p>
                رضاء العميل هو ما نسعى إليه دائماً مع توفير أجمل وأكبر تشكيلة للمجوهرات مصحوبة بالجودة العالية والمصداقية الكاملة بأرقى الخدمات ليكون العميل في غاية الرضا والسعادة.
                </p>
            </div>
        </div>
        <br>
    </div>    
</div>
{% endblock content %}